html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin-top: 115px;
  background-image: url('/spider.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(174, 174, 174);
}

a,
a:hover,
a:visited {
  text-decoration: none !important;
}

a,
h2,
h3,
h4,
p,
button {
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

label {
  display: block;
}

.navbar {
  height: 115px;
  width: 100%;
  background-color: rgb(36, 3, 3);
  background-image: linear-gradient(
    rgba(108, 38, 38, 0.7),
    rgba(34, 34, 34, 0.516)
  );
}

#linkHome {
  margin: 5;
  width: 800px;
  position: absolute;
  left: 5px;
  top: 15px;
}

#logo {
  height: 90px;
  width: 90px;
  margin: 15px;
  float: left;
  margin-top: -5px;
}

.glyphicon {
  color: rgb(244, 243, 240);
}

#title {
  color: rgb(244, 243, 240);
  font-family: 'Bahiana', cursive;
  font-size: 46pt;
  margin-top: 10px;
}

#navItems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  vertical-align: baseline;
  margin-right: 5px;
}

#navLinks * {
  height: 100%;
  font-size: 18pt;
  display: inline-block;
  vertical-align: baseline;
  padding: 20px 10px;
}

.navItem {
  margin: 0;
}

.navItem:hover {
  background-color: rgba(103, 25, 25, 0.79);
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pageContent {
}

.thumnail {
  width: 75%;
  margin: auto;
  padding-top: 15px;
}

.singleItemPic {
  float: left;
  padding-right: 15px;
}

.allItems {
  padding: 30px;
}
