html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin-top: 115px;
  background-image: url('/img/spider.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(174, 174, 174);
  transition-duration: 0.4s;
}

a:visited {
  color: rgb(174, 174, 174);
}

p {
  font-size: 20px;
}

a,
a:hover,
a:visited {
  text-decoration: none !important;
}

h3 {
  font-size: 22pt;
}

a,
h2,
h3,
h4,
p,
button {
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  transition-duration: 0.4s;
}

label {
  display: block;
}

.navbar {
  height: 110px;
  width: 100%;
  background-color: rgb(36, 3, 3);
  background-image: linear-gradient(
    rgba(108, 38, 38, 0.7),
    rgba(34, 34, 34, 0.516)
  );
}

#linkHome {
  margin: 5;
  width: 420px;
  position: absolute;
  left: 5px;
  top: 15px;
}

#logo {
  height: 80px;
  width: 80px;
  margin: 10px;
  margin-top: 5px;
  float: left;
}

.glyphicon {
  color: white;
}

#title {
  color: white;
  font-family: 'Bahiana', cursive;
  font-size: 46pt;
  margin-top: 12px;
}

#navItems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  vertical-align: baseline;
  margin-right: 5px;
  margin-top: -13px;
}

#navLinks * {
  height: 100%;
  font-size: 18pt;
  display: inline-block;
  vertical-align: baseline;
  padding: 20px 10px;
}

.navItem {
  margin: 0;
  transition-duration: 0.4s;
}

.navItem:hover {
  background-color: rgba(103, 25, 25, 0.79);
  color: white;
}

.badge {
  height: 27px !important;
  width: 20px;
  vertical-align: middle;
  padding: 6px !important;
  border-radius: 50%;
  font-size: 13pt !important;
  text-align: center;
  position: absolute;
  top: 26px;
  right: 67px;
}

#profilePic {
  margin-top: 20px;
}

.signupInputs > label > small {
  font-size: 16pt;
}

.signupInputs {
  margin: 0;
}

#googleLogin {
  font-size: 18pt;
}

#notMem {
  font-size: 18pt !important;
  margin: 0;
  margin-top: 10px;
}

#googleLogin,
#signupLink {
  color: rgb(103, 25, 25);
  font-size: 18pt;
}

#googleLogin:hover,
#signupLink:hover {
  color: rgb(177, 16, 16);
}

.submitLogin {
  font-size: 18pt;
  display: block;
  margin: auto;
  margin: 15px;
}

#orderHistBtn,
#updateInfoBtn,
#submitUpdateBtn {
  font-size: 18px;
  padding: 8px;
  margin: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pageContent {
  height: 90%;
}

.allItems {
  padding: 30px;
}

#allItemsGrid {
  margin: auto;
}

.allItemsItems {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.allItemsInfo {
  opacity: 0;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 0;
  padding: 50px 20px;
  text-align: center;
  transition-duration: 0.4s;
  color: white;
}

.allItemsInfo:hover {
  opacity: 1;
  background-image: radial-gradient(
    rgba(23, 23, 23, 0.742),
    rgba(23, 23, 23, 0.256)
  );
}

.linkToSingle {
  margin: auto;
}

.linkToSingle,
.allItemsPics {
  height: 300px;
  width: 300px;
  margin: auto;
}

.allItemsName {
  font-family: 'Bahiana', cursive;
  font-size: 46pt;
}

.allItemsPriceInfo {
  width: 100%;
  font-size: 34pt !important;
  color: rgb(206, 206, 206);
  position: absolute;
  bottom: 50px;
  margin-left: -20px;
  text-align: center;
}

.allItemsOutOfStock {
  color: rgb(191, 9, 9);
  font-style: italic;
  font-weight: bold;
  font-size: 26pt;
}

.thumnail,
#profileContainer {
  width: 75%;
  margin: auto;
  padding-top: 30px;
}

.caption,
.cart,
#profileContainer,
#updateInfoContainer,
.loginSignup,
#checkout {
  background-color: rgba(215, 215, 215, 0.516);
  height: 400px;
  padding: 50px;
  padding-top: 10px;
  text-align: center;
}

#checkout {
  text-align: right;
}

.caption {
  height: 400px;
  text-align: left;
}

.cart,
#profileContainer,
#updateInfoContainer,
.loginSignup,
#aboutUsContainer,
#checkout {
  height: 525px;
  width: 60%;
  margin: auto;
  padding: 10px 150px;
  overflow: scroll;
}

.cartItemContainer {
  text-align: left;
  height: 175px;
}

.cartItemDetails {
  padding-left: 170px;
}

.cartItemQtyPrice {
  text-align: left;
  font-size: 20px;
}

.cartItemTitleBtn {
  margin-bottom: 15px;
}

.cartItemTitle {
  font-size: 24px;
  font-weight: bold;
  color: rgb(80, 7, 7);
}

.cartQtyPrice {
  float: right;
}

.cartItemPic {
  float: left;
  vertical-align: top;
  margin-right: 20px;
  height: 150px;
  width: 150px;
}

.cartRemoveItem {
  float: right;
  color: rgb(203, 203, 203);
  font-size: 22pt;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: gray;
  border: none;
}

.cartRemoveItem:hover {
  background-color: rgba(133, 17, 17, 0.79);
  color: white;
}

.removeCartItemX {
  position: relative;
  top: -12px;
  left: -4px;
}

#cartTotal {
  width: 100%;
  border-top: solid rgb(29, 29, 29) 3px;
  text-align: right;
  margin: 0;
  margin-bottom: 10px;
}

#cartTotalDecimal {
  margin: 0;
  margin-top: 10px;
  width: 50%;
  float: right;
}

#Checkout {
  font-size: 16pt;
  float: left;
  position: relative;
  top: 15px;
  margin-bottom: 10px;
}

.singleItemPic {
  float: left;
  padding-right: 20px;
  position: relative;
}

.singleItemName {
  font-family: 'Bahiana', cursive;
  font-size: 52px;
}

.caption {
  text-align: left;
}

#inStock,
#outOfStock {
  float: right;
  margin-top: 10px;
  width: 200px;
}

.qty {
  float: left;
}

#addToCart,
#Checkout,
#updateInfoBtn,
#orderHistBtn,
#submitUpdateBtn,
.submitLoginBtn,
.paySubmit {
  background-color: rgba(38, 114, 120, 0.968);
  color: rgb(174, 174, 174);
  border: none;
}

#addToCart:hover,
#Checkout:hover,
#updateInfoBtn:hover,
#orderHistBtn:hover,
#submitUpdateBtn:hover,
.submitLoginBtn:hover,
.paySubmit:hover {
  background-color: rgb(33, 77, 63);
  color: white;
}

#addToCart,
#disabled {
  margin-left: 20px;
}

#footer {
  height: 30px;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  background-color: rgb(36, 3, 3);
  background-image: linear-gradient(
    rgba(7, 73, 80, 0.7),
    rgba(34, 34, 34, 0.516)
  );
  color: rgb(174, 174, 174);
}

#aboutUsContainer {
  font-size: 22px;
  width: 70%;
  margin: auto;
  background-color: rgba(215, 215, 215, 0.516);
  height: 525px;
  padding: 10px 120px;
  text-align: center;
}

#aboutUs {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 2px;
}

#aboutUs:hover {
  color: white;
}

#creditCards {
  float: right;
}

#helloWorld {
  font-family: 'Bahiana', cursive;
  font-size: 46pt;
  color: rgb(0, 63, 91);
}

.aboutUsPics {
  margin: 20px 0;
}

#devs {
  margin-bottom: -20px;
}

#github {
  font-size: 18pt;
}

.devNames,
#github,
#fsLink {
  font-weight: bold;
  color: rgb(70, 5, 5) !important;
  transition-duration: 0.4s;
}

.devNames:hover,
#github:hover,
#fsLink:hover {
  color: rgb(159, 0, 0) !important;
}

li {
  text-align: left;
}
