html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin-top: 115px;
  background-image: url('/spider.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(174, 174, 174);
  transition-duration: 0.4s;
}

p {
  font-size: 20px;
}

a,
a:hover,
a:visited {
  text-decoration: none !important;
}

a,
h2,
h3,
h4,
p,
button {
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  transition-duration: 0.4s;
}

label {
  display: block;
}

.navbar {
  height: 110px;
  width: 100%;
  background-color: rgb(36, 3, 3);
  background-image: linear-gradient(
    rgba(108, 38, 38, 0.7),
    rgba(34, 34, 34, 0.516)
  );
}

#linkHome {
  margin: 5;
  width: 800px;
  position: absolute;
  left: 5px;
  top: 15px;
}

#logo {
  height: 80px;
  width: 80px;
  margin: 10px;
  margin-top: 5px;
  float: left;
}

.glyphicon {
  color: rgb(244, 243, 240);
}

#title {
  color: rgb(244, 243, 240);
  font-family: 'Bahiana', cursive;
  font-size: 46pt;
  margin-top: 12px;
}

#navItems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  vertical-align: baseline;
  margin-right: 5px;
  margin-top: -13px;
}

#navLinks * {
  height: 100%;
  font-size: 18pt;
  display: inline-block;
  vertical-align: baseline;
  padding: 20px 10px;
}

.navItem {
  margin: 0;
  transition-duration: 0.4s;
}

.navItem:hover {
  background-color: rgba(103, 25, 25, 0.79);
  color: white;
}

.badge {
  height: auto !important;
  padding: 6px !important;
  border-radius: 50%;
  font-size: 13pt !important;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pageContent {
}

.thumnail {
  width: 75%;
  margin: auto;
  padding-top: 30px;
}

.caption {
  background-color: rgba(215, 215, 215, 0.516);
  height: 400px;
  padding-top: 10px;
  padding-right: 30px;
}

.singleItemPic {
  float: left;
  padding-right: 20px;
  position: relative;
}

.singleItemName {
  font-family: 'Bahiana', cursive;
  font-size: 52px;
}

#inStock,
#outOfStock {
  float: right;
  margin-top: 10px;
  width: 200px;
}

.qty {
  float: left;
}

#addToCart {
  background-color: rgba(38, 114, 120, 0.968);
  color: rgb(174, 174, 174);
  border: none;
}

#addToCart:hover {
  background-color: rgb(33, 77, 63);
  color: white;
}

#addToCart,
#disabled {
  margin-left: 20px;
}

.allItems {
  padding: 30px;
}

#footer {
  height: 30px;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  background-color: rgb(36, 3, 3);
  background-image: linear-gradient(
    rgba(7, 73, 80, 0.7),
    rgba(34, 34, 34, 0.516)
  );
  color: rgb(174, 174, 174);
}

#aboutUs {
  font-size: 22px;
  text-align: center;
  position: relative;
  bottom: 4px;
}

#aboutUs:hover {
  color: white;
}

#creditCards {
  float: right;
}
